<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create New User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container" th:fragment="content">
    <h2 class="mt-5">Create New User</h2>
    <form th:action="@{/admin/createUser}" method="post" th:object="${user}">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" th:field="*{username}" required />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" required />
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone Number:</label>
            <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}" required />
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" required />
        </div>
        <div class="form-group">
            <label for="birth">Birth Date:</label>
            <input type="date" class="form-control" id="birth" th:field="*{birth}" required />
        </div>
        <button type="submit" class="btn btn-primary">Create User</button>
    </form>
</div>
</body>
</html>
