<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
</head>
<body>
<div th:replace="~{Layout/Admin :: layout}">

</div>
<div class="background_um">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center mb-2 mb-lg-0">
            <button class="btn btn-primary m-2" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#staticBackdrop"
                    aria-controls="staticBackdrop">
                <i class="bi bi-list-ul"></i>
            </button>
            <form th:action="@{/admin/user}" method="get" class="d-flex m-3" role="search" id="searchForm">
                <input class="form-control me-2 search-input"
                       name="search"
                       id="search"
                       type="search" placeholder="Username or Email"
                       aria-label="search"
                       th:value="${search}"
                >
                <button class="btn btn-warning" type="submit">Search</button>
            </form>
        </div>

        <div class="body_content container">
            <form th:action="@{/admin/user}" method="get" id="filterForm">
                <div class="d-flex">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="locked" name="isDelete" value="true"
                               th:checked="${isDelete != null && isDelete == true}" onchange="submitFilterForm()">
                        <label class="form-check-label" for="locked">
                            Locked Accounts
                        </label>
                    </div>
                    <div class="form-check" style="margin-left: 20px;">
                        <input class="form-check-input" type="radio" id="unlocked" name="isDelete" value="false"
                               th:checked="${isDelete != null && isDelete == false}" onchange="submitFilterForm()">
                        <label class="form-check-label" for="unlocked">
                            Active Accounts
                        </label>
                    </div>
                    <div class="form-check" style="margin-left: 20px;">
                        <input class="form-check-input" type="radio" id="all" name="isDelete" value=""
                               th:checked="${isDelete == null}" onchange="submitFilterForm()">
                        <label class="form-check-label" for="all">
                            All Accounts
                        </label>
                    </div>
                </div>
            </form>

            <div class="row">
                <div class="mb-4 mb-lg-0">
                    <div class="card">
                        <div class="card-header bg-success-subtle d-flex justify-content-between">
                            <h5>
                                <i class="bi bi-person-bounding-box"></i> User Management
                            </h5>
                            <a class="btn btn-info" href="/admin/createuser"> Create new User</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive text-center">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Phone number</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody id="userTableBody">
                                    <tr th:each="user : ${users}">
                                        <td th:text="${userStat.index + 1}">1</td>
                                        <td th:text="${user.username}">john_doe</td>
                                        <td th:text="${user.email}">john@example.com</td>
                                        <td th:text="${user.phoneNumber}">123-456-7890</td>
                                        <td><a th:href="@{/admin/viewuser/{id}(id=${user.id})}"
                                               class="btn btn-sm btn-primary">View</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>