body {
    background-color: #f8f9ff !important;
    color: #0c2d57;
    font-family: Jost, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}

.top_navigation {
    z-index: 99;
    border-bottom: 1px solid #b4becb;
    background-color: #fff;
    padding-top: 36px;
    padding-bottom: 36px;
    position: relative;
}
.container {
    z-index: 2;
    background-color: #0000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1360px;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    position: relative;
}
.space_between_block {
    display: flex;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
.search_bar_wrapper {
    width: 100%;
    max-width: 690px;
    margin-bottom: 0;
    position: relative;
}
.search_bar {
    border: 1px solid #e7eaee;
    color: #5c728e;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    margin-bottom: 0;
    font-family: Open Sans, sans-serif;
}
.search_bar:focus {
    border-color: #3b38d1;
    outline: 0;
}
.search_button {
    background-color: #2b38d1;
    color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0 45px;
    font-family: Material Icons, sans-serif;
    line-height: 16px;
    position: absolute;
    inset: 0% 0 0% auto;
    border: none;
}

.buton_login {
    border-radius: 20px;
    width: 120px;
    height: 40px;
}
.layout_login_cart {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: #0000;
    padding: 0;
    display: flex;
}
.cart_button {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: #0000;
    padding: 0;
    display: flex !important;
    align-items: center;
}
.cart_button a {
    text-decoration: none !important;
}
.cart_a {
    display: flex !important;
    gap: 20px;
    align-items: center;
}
.relative-block {
    position: relative;
}
.cart_quantity {
    background-color: #e87a80;
    color: #fff;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    height: 20px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    position: absolute;
    inset: -4px -11px auto auto;
    border-radius: 10px;
}
.text_your_cart {
    color: #8f9eb2;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    text-decoration: none;
}
.text_your_number {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}
.navbar-wrapper {
    grid-column-gap: 29px;
    grid-row-gap: 29px;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.image_all_categories {
    max-width: 20px;
}
.text_categrories {
    color: #3d5779;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.Categories {
    display: flex;
    gap: 10px;
}
._1px-width-divider {
    background-color: #8f9eb2;
    width: 1px;
    height: 21px;
}
.nav-menu-wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
}
.nav-menu {
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
}
.navbar {
    z-index: 100;
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 0;
    position: sticky;
    top: 0;
}
.nav_list {
    color: #0c2d57;
    flex: none;
}
.phone_and_email_navbar {
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    flex-flow: wrap;
    align-items: center;
    display: flex;
}
.horizontal-block-with-7px-gap {
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    align-items: center;
    display: flex;
}
.paragraph-400-semibold {
    color: #3d5779;
    font-weight: 500;
}
._16px-svg {
    max-width: 16px;
}
.nav_link {
    color: #3d5779;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
    transition: color 0.3s ease-out;
    display: flex;
}
.nav_link.active {
    color: #dd3842;
}
.carousel {
    background-color: #2b38d1;
    border-radius: 10px;
    height: 600px;
}
.hero-block {
    display: flex;
}
.hero-img {
    width: 50%;
    align-items: center;
    margin-top: 50px;
}
.hero-section {
    margin-top: 40px;
    margin-bottom: 50px;
}
.hero-contents {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    padding-top: 100px;

    display: flex;
}
.hero-title {
    color: #fff;
    max-width: 650px;
    font-size: 40px;
    font-weight: 600;
    line-height: 140%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
}
.hero-paragraph {
    color: #e7eaee;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 30px;
    width: 80%;
    font-size: 17px;
}
.hero-a {
    margin-left: 30px;
    list-style: none;
    color: #fff;
    text-decoration: none;
    border: 1px solid #dd3842;
    padding: 15px 30px;
    background-color: #dd3842;
    color: #fff;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    display: flex;
}
.hero-a:hover {
    background-color: #fff;
    color: #dd3842;
}

.hero-icon {
    margin-left: 10px;
    background-color: #dd3842;
}
._3fr-column-grip {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    display: grid;
}
.feature-card {
    grid-column-gap: 17px;
    grid-row-gap: 17px;
    border: 1px solid #e7eaee;
    border-radius: 4px;
    background-color: #fff;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 30px 35px 35px 15px;
    transition: background-color 0.4s;
    display: flex;
}
.feature-card:hover {
    background-color: #eaebfa;
}
._10px-gap {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.w-layout-vflex {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}
p {
    color: #5c728e;
    max-width: 750px;
    margin-bottom: 0;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    line-height: 28px;
}
._20px-bold-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    transition: color 0.3s;
}
.section {
    margin-top: 60px;
    margin-bottom: 60px;
}
.product_text {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    display: flex;
}
h2 {
    color: #0c2d57 !important;
    max-width: 900px !important;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    font-size: 38px !important;
    font-weight: 600 !important;
    line-height: 140% !important;
}
.product_view_all {
    border: 1px solid #dd3842;
    padding: 8px 20px;
    color: #dd3842;
    border-radius: 4px;
}
._1px-height-border {
    background-color: #d9d9d9;
    width: 100%;
    height: 1px;
    margin-bottom: 33px;
}
._4column-product-grid {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    padding-bottom: 25px;
    display: grid;
}
.product-cart {
    border: 1px solid #e7eaee;
    border-radius: 4px;
    background-color: #fff;
    flex-flow: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 315px;
    height: 100%;
    padding: 25px 30px 28px;
    display: flex;
    position: relative;
}
.product-thumbnail {
    background-color: #fff;
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-height: 220px;
}
.product-body {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 57px;
    display: flex;
}
.product-name-on-card {
    color: #5c728e;
    font-size: 18px;
    line-height: 160%;
}
.product-price-block {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
}
._2px-with-divider {
    background-color: #b4becb;
    width: 2px;
    height: 20px;
}
.card-price {
    color: #dd3842;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
}
.card-compare-prices {
    color: #b4becb;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    text-decoration: line-through;
}
.sale-tag {
    border-radius: 4px;
    background-color: #2b38d1;
    color: #fff;
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 120%;
    position: absolute;
    inset: 15px auto auto 6px;
}
.add-to-card {
    border: 1px solid #0c2d57;
    border-radius: 4px;
    background-color: #0000;
    color: #0c2d57;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Open Sans, sans-serif;
    cursor: pointer;
}
.add-to-card:hover {
    background-color: #dd3842;
    color: #fff;
    border: none;
}
._2-column-grid {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    display: grid;
}
.feature-banner {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    border: 1px solid #e7eaee;
    border-radius: 4px;
    background-color: #fff;
    align-items: center;
    padding-right: 20px;
    display: flex;
    overflow: hidden;
}
.contents {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    display: flex;
}
.content-a {
    margin-top: 10px;
    margin-bottom: 20px;
}
.feature-card-image {
    width: 60%;
    max-width: 364px;
}
.hero-contents-a {
    list-style: none;
    color: #fff;
    text-decoration: none;
    border: 1px solid #dd3842;
    padding: 10px 16px;
    background-color: #dd3842;
    color: #fff;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    display: flex;
}
.hero-contents-a:hover {
    background-color: #fff;
    color: #dd3842;
}
.paragraph-white {
    color: #fff;
    max-width: 750px;
    margin-bottom: 0;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    line-height: 28px;
}
.content-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: #0c2d57;
}
.product-bar {
    flex-flow: column;
    width: 100%;
    margin-bottom: 33px;
    display: flex;
}
.tab-menu-absolute {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    display: flex;
    margin-right: 20px;
    align-items: center;
}
.tab-menu-absolute a {
    text-decoration: none;
    color: #5c728e;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}
.button-view a {
    padding: 8px 20px;
    color: #dd3842;
    border: 1px solid #dd3842;
    border-radius: 4px;
    text-decoration: none;
}
.button-view a:hover {
    background-color: #dd3842;
    color: #fff;
}
.flex-box {
    display: flex;
    justify-content: end;
}
.newsletter-block {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
    display: flex;
}
._10px-gap {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
._30px-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 600;
    line-height: 140%;
    color: #0c2d57;
}
.subscription-mail-input {
    background-color: #e7eaee;
    border: 1px #000;
    border-radius: 4px;
    width: 100%;
    height: 66px;
    margin-bottom: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 26px;
    outline: none;
}
.subscription-button {
    background-color: #dd3842;
    border-radius: 4px;
    padding: 20px 26px;
    font-weight: 600;
    border: red;
    color: #fff;
}
.subscription-button:hover {
    background-color: #2b38d1;
}
.subscription-form {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    justify-content: flex-end;
    width: 100%;
    display: flex;
}
.subscription-form-block {
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    max-width: 605px;
    margin-bottom: 0;
    display: flex;
}
/* footer*/
.main-footer {
    border-bottom: 1px solid #e7eaee;
}
.footer-wrapper {
    grid-column-gap: 40px;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 80px;
    padding-bottom: 60px;
    display: flex;
}
.footer-block.first-block {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    width: 100%;
    max-width: 450px;
}
.footer-block {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-direction: column;
    align-items: stretch;
    min-width: 120px;
    display: flex;
}
.footer-paragraph {
    color: #5c728e;
}
.social-share-icon-container {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-direction: row;
    margin-top: 6px;
    display: flex;
}
.footer-social-icon {
    border: 1px solid #e7eaee;
    color: #8f9eb2;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-family: Icofont, sans-serif;
    font-size: 20px;
    line-height: 20px;
    transition: color 0.4s;
    display: flex;
}
.footer-title {
    color: #0c2d57;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}
.footer-link {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    color: #5c728e;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
    transition: padding 0.6s cubic-bezier(0.215, 0.61, 0.355, 1),
    color 0.4s ease-out;
    display: flex;
}
.footer-link-icon {
    font-family: Material Icons Outlined, sans-serif;
    font-size: 14px;
    line-height: 14px;
}
.footer-menu-links-wrapper {
    justify-content: space-between;
    width: 100%;
    display: none;
}
.footer-block.subscribe-block {
    min-width: 190px;
    max-width: 340px;
}
.horizontal-block-10px-gap {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: center;
    display: flex;
}
.footer-wrapper {
    grid-column-gap: 40px;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 80px;
    padding-bottom: 60px;
    display: flex;
}
.footer-block.first-block {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    width: 100%;
    max-width: 450px;
}
.footer-block {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-direction: column;
    align-items: stretch;
    min-width: 120px;
    display: flex;
}
.footer-block.subscribe-block {
    min-width: 190px;
    max-width: 340px;
}
.footer-bottom {
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 26px;
    display: flex;
}
.container.middle-allign {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    text-align: center;
    text-align: center;
    display: flex;
}
.footer-copyright {
    color: #8f9eb2;
    flex-wrap: wrap;
    font-weight: 500;
    line-height: 26px;
    display: flex;
}
.main-footer {
    border-bottom: 1px solid #e7eaee;
}

.testimonial-block {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    color: #fff;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 710px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 150px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.slider-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.arrow {
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    z-index: 10;
}

.slider {
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
}

.slide-track {
    display: flex;
    transition: transform 0.5s ease;
}

.slide-track img {
    object-fit: contain;
    margin-left: 80px;
}
