
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: sans-serif;
}
body {
    background-color: #f8f9ff;
    color: #0c2d57;
    font-family: Jost, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}
body {
    color: #333;
    background-color: #fff;
    min-height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
.container {
    z-index: 2;
    background-color: #0000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1360px;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    position: relative;
}
* {
    box-sizing: border-box;
}
div {
    display: block;
    unicode-bidi: isolate;
}
section {
    display: block;
    unicode-bidi: isolate;
}
a {
    color: #0c2d57;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
}
a {
    background-color: #0000;
}
* {
    box-sizing: border-box;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.breadcrumb-section {
    background-color: #e7eaee;
    padding-top: 12px;
    padding-bottom: 12px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
@media screen and (max-width: 991px) {
    .container {
        width: 100%;
    }
}
.text-merge {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
.breadcrumb {
    color: #5c728e;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}
.page-wrapper {
    z-index: 100;
    overflow: hidden;
}
.container._2-column-container {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
}
.sidebar-wrapper {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-flow: column;
    width: 100%;
    max-width: 308px;
    display: flex;
}
.w-tabs {
    position: relative;
}
input[type="search"] {
    -webkit-appearance: none;
}
.sidebar-search-input {
    border: 1px solid #e7eaee;
    background-color: #fff;
    height: 60px;
    margin-bottom: 0;
    padding-left: 23px;
}
.w-input, .w-select {
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    height: 38px;
    margin-bottom: 10px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857;
    display: block;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
* {
    box-sizing: border-box;
}
input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
    overflow-clip-margin: 0px !important;
    overflow: clip !important;
}
input[type="search" i] {
    appearance: auto;
    box-sizing: border-box;
    padding-block: 1px;
    padding-inline: 2px;
}
input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
}
input {
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
}
input.w-button {
    -webkit-appearance: button;
}
.sidebar-search-button {
    background-color: #0000;
    color: #8f9eb2;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0 17px;
    font-family: Material Icons, sans-serif;
    line-height: 16px;
    position: absolute;
    inset: 0% 0 0% auto;
}
.w-button {
    color: #fff;
    line-height: inherit;
    cursor: pointer;
    background-color: #3898ec;
    border: 0;
    border-radius: 0;
    padding: 9px 15px;
    text-decoration: none;
    display: inline-block;
}
.product-top-bar {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    border-radius: 4px;
    background-color: #e7eaee;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    padding: 19px 18px 15px 25px;
    display: flex;
}
.w-tab-menu {
    position: relative;
}
.displaying-results {
    position: absolute;
    inset: 19px auto auto 25px;
}
.grid-list-svg {
    object-fit: contain;
    max-width: 24px;
    max-height: 24px;
}
img {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    display: inline-block;
}
img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
}
img {
    border: 0;
}
* {
    box-sizing: border-box;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.w-tab-link {
    vertical-align: top;
    text-align: left;
    cursor: pointer;
    color: #222;
    background-color: #ddd;
    padding: 9px 30px;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
._20px-bold-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    transition: color .3s;
}
.widget {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    background-color: #fff;
    flex-flow: column;
    width: 100%;
    padding: 26px;
    display: flex;
}
.checkbox-field {
    color: #5c728e;
    cursor: pointer;
    padding-left: 0;
    font-size: 16px;
    line-height: 16px;
    transition: color .3s;
    display: flex;
}
.checkbox.w--current {
    border-color: #dd3842;
    background-image: url(https://cdn.prod.website-files.com/65f0219…/65f4061…_check%201.webp), linear-gradient(to bottom, #dd3842, #dd3842);
    background-position: 50%, 0 0;
    background-size: 12px 12px, auto;
}
.checkbox {
    border: 2px solid #8f9eb2;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 15px;
    transition: background-color .3s;
    display: flex;
    position: relative;
}
.w-inline-block {
    max-width: 100%;
    display: inline-block;
}
.paragraph-300 {
    color: #5c728e;
}
.product-categories {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    background-color: #fff;
    flex-flow: column;
    width: 100%;
    display: flex;
}
._3-column-product-grid {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    display: grid;
}
.product-card {
    border: 1px solid #e7eaee;
    border-radius: 4px;
    background-color: #fff;
    flex-flow: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 315px;
    height: 100%;
    padding: 25px 30px 28px;
    transition: box-shadow .5s;
    display: flex;
    position: relative;
}
.product-thumbnail-archive {
    aspect-ratio: 2 / 3;
    background-color: #fff;
    object-fit: contain;
    width: 100%;
    max-width: 252px;
    height: 100%;
    max-height: 222px;
}
.product-body {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 57px;
    display: flex;
}
.w-layout-vflex {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}
.product-name {
    color: #5c728e;
    font-size: 18px;
    line-height: 160%;
}
.star {
    color: #fdbf60;
    font-family: Material Icons Outlined, sans-serif;
    font-size: 18px;
    line-height: 18px;
}
.product-price {
    color: #dd3842;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
}
.product-price-block {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    overflow: hidden;
}
._2px-width-divider-static {
    background-color: #b4becb;
    width: 2px;
    height: 20px;
}
.discount-price {
    color: #b4becb;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    text-decoration: line-through;
}
.product-add-button {
    border: 1px solid #0c2d57;
    border-radius: 4px;
    background-color: #0000;
    color: #0c2d57;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Open Sans, sans-serif;
    transition: color .2s, background-color .4s;
}
.w-commerce-commerceaddtocartbutton {
    color: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background-color: #3898ec;
    border-width: 0;
    border-radius: 0;
    align-items: center;
    padding: 9px 15px;
    text-decoration: none;
    display: flex;
}
.sale-tag {
    border-radius: 4px;
    background-color: #2b38d1;
    color: #fff;
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 120%;
    position: absolute;
    inset: 15px auto auto 6px;
}
.w-pagination-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}
.pagination-button {
    border-radius: 4px;
    background-color: #e7eaee;
    color: #0c2d57;
    border-style: none;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 16px;
    transition: color .4s ease-out, background-color .7s;
}
.w-pagination-next {
    color: #333;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 9px 20px;
    font-size: 14px;
    display: block;
}
svg:not(:root) {
    overflow: hidden;
}
.w-pagination-next-icon {
    margin-left: 4px;
}
* {
    box-sizing: border-box;
}
svg[Attributes_Style] {
    height: 12px;
    width: 12px;
    transform: translate(0, 1px);
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}